html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: light-dark(rgba(0, 0, 0, 0.18), rgba(255, 255, 255, 0.16));
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
